@import "tailwindcss";





body {
  background-color: #0A0A10; /* رنگ پایه مشکی */
  color: #E5E5E5;
  font-family: 'Inter', sans-serif;
}


.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

.text-glow {
  text-shadow: 0 0 8px rgba(251, 191, 36, 0.4), 0 0 20px rgba(251, 191, 36, 0.3);
}